html {
  font-size: 14px; }

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative; }

h1, h2, h3, h4, h5, div, p, ul {
  margin: 0;
  padding: 0; }

a {
  color: #CDDC39; }

#wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  height: 100%;
  filter: sepia(0.7);
  -webkit-filter: sepia(0.7);
  filter: opacity(0.7);
  -webkit-filter: opacity(0.7);
  display: flex; }
  #wrapper #mainheader {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: flex; }
    #wrapper #mainheader #mainlogo {
      height: auto;
      padding: 10px; }
    #wrapper #mainheader h1 {
      flex-grow: 1;
      text-align: center;
      margin-left: -115px; }
  #wrapper #content {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px; }
    #wrapper #content header {
      font-size: 1.5rem;
      margin: 5px 0;
      font-weight: 700; }
    #wrapper #content p {
      text-align: justify;
      line-height: 1.5;
      color: #000;
      font-size: 1.2rem; }
  #wrapper #sidebar {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px; }
    #wrapper #sidebar #mainnav {
      list-style: none;
      display: flex; }
      #wrapper #sidebar #mainnav li {
        color: #FFF;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 5px 0; }
  #wrapper #mainfooter {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff; }
    #wrapper #mainfooter p {
      line-height: 50px;
      letter-spacing: 5px; }
